// Fuentes
$firstFont: 'Manrope', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXl: 1568px;

// Colores
$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);

$primary: hsl(217, 19%, 38%);
$secondary: hsl(217, 19%, 24%);
$negro: #000;
$blanco: #FFFFFF;
$blue: 	hsl(218, 23%, 16%);