.text {
  color: var(--white-);
  font-size: 2rem;
  line-height: 0.9;
  padding-left: 1rem;
}
.text span {
  display: block;
}
@media (min-width: 1366px) {
  .text {
    font-size: 4rem;
    padding: 2rem;
    margin: 0;
  }
}
