@import 'styles/variables';
@import 'styles/mixins';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
  &__containerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include tablet {
    justify-content: space-between;
    margin-top: 5rem;
    gap: 2rem;

    &__containerImg {
      width: 100%;
      margin-top: 12rem;
    }
  }
  @include desktop {
    display: grid;
    grid-column: 1 / 3;
    justify-items: flex-start;
    align-self: flex-start;
    align-items: flex-end;
    margin: 0;
    width: 100%;
    height: 100%;
    &__containerImg {
      grid-column: 2 / 3;
      grid-row: 1 / 6;
      margin: 0;
      height: 100%;
      width: 80rem;
    }
  }
}
