@import 'styles/variables';
@import 'styles/mixins';

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
  height: 61rem;
  &__containerImg {
    position: relative;
    width: 100%;
    height: 50rem;
  }

  @include tablet {
    height: 100%;
    margin-top: 5rem;
  }
  @include desktop {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 15% 35% 50%;
    grid-template-rows: 5% 80% 15%;
    height: 100%;
    margin: 0;
    gap: 5rem;
    &__containerImg {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      width: auto;
      height: 100%;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  height: 31rem;
  &__heading {
    color: $light;
    font-size: 1.4rem;
    line-height: 1.68rem;
    letter-spacing: 0.23rem;
    text-transform: uppercase;
    font-family: $secondFont;
    font-weight: 400;
  }
  @include tablet {
    justify-self: flex-start;
  }
  @include desktop {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    justify-content: center;
    height: 50rem;
    align-items: flex-start;
  }
}
