// Fuentes
$firstFont: 'Bellefair', serif;
$secondFont: 'Barlow Condensed', sans-serif;
$thirdFont: 'Barlow', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1440px;
$desktopXl: 1440px;

// Colores
$primary: #f46669;
$secondary: #c7c57d;
$black: #000;
$white: #ffffff;
$gray: #585757;
$dark: #0b0d17;
$light: #d0d6f9;
