// Fonts
$firstFont: 'Josefin Sans', sans-serif;

// Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXl: 1600px;

// Colours
$brown: #423a3a;
$pinkGradient: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
$textPink: #ce9898;
$white: #ffffff;
$red: #f96464;
$green: #4cc93f;

// Sizes
$icon-base-size: 10px;
